body{
    margin: 0;
}
.centraldiv{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.frame{
    width: 100%;
    height: auto;
}
.mainscreen{
    height: 44.1%;
    width: 47.7%;
    position: absolute;
    background-color: green;
    top: 42.2%;
    left: 18.1%;
}
.viewfinder{
    height: 9.5%;
    width: 10.8%;
    position: absolute;
    background-color: red;
    top: 23.2%;
    left: 36.8%;
}