body {
    margin: 0;
    background-color: black;
    /* background-image: url(assets/AdobeStock_412647539.jpeg); */
}

.headerHover {
    width: 100%;
    height: 70px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: 0 auto;
    z-index: 2;
}

.header {
    height: 0px;
    width: 100%;
    background-color: green;
    transition: height .9s;
    text-align: center;
    z-index: 3;
}

.headActive {
    height: 40px;
}

.ProfileHeader {
    width: 100%;
    height: 500px;
    background-color: blue;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profilePic {
    width: 250px;
    height: 250px;
    position: relative;
    margin: 0 auto;
    border: groove 15px white;
    border-radius: 25px;
}

.aboutme {
    height: 400px;
    width: 100%;
    background-color: blanchedalmond;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.objective {
    height: 400px;
    width: 100%;
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    top: 10px;
    background-color: aquamarine;
}

.cars {
    height: 100%;
    background-color: pink;
    top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
    gap: 10px;
}

.section {
    height: 450px;
    width: 100%;
    display: flex;
}

.leftpic {
    position: relative;
    background-color: red;
    height: auto;
    width: 64%;
    overflow: hidden;
    opacity: 0;
    transform: translateX(200px);
    transition: 500ms;
}

.wordright {
    width: 36%;
    height: auto;
    text-align: center;
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: 500ms;
    background: purple;
}

.wordleft {
    width: 36%;
    position: relative;
    right: 64%;
    text-align: center;
    transform: translateY(200px);
    opacity: 0;
    transition: 500ms;
    background-color: blue;
}

.rightpic {
    position: relative;
    height: auto;
    width: 64%;
    background-color: green;
    right: -36%;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-200px);
    transition: 500ms;
}

.show {
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(0px);
}

.carpics {
    width: 100%;
    height: auto;
    position: relative;
}

.people {
    width: 100%;
    height: 50%;
    background-color: orange;
    top: 200px;
    position: relative;
}

.camerabox {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    max-height: 1100px;
    margin: 0 auto;
    background-color: aqua;
    position: relative;
    display: flex;
    justify-content: center;
}

.frame {
    width: 100%;
    height: auto;
}

.screen {
    width: 47.72%;
    height: 44.3%;
    position: absolute;
    left: 18.1%;
    top: 42.1%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenpic {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

/* .nextButton {
    position: absolute;
    background-color: purple;
    height: 9.1%;
    width: 3.3%;
    top: 52.7%;
    left: 81.4%;
    opacity: 0.5;
}

.backButton {
    position: absolute;
    background-color: purple;
    height: 9.1%;
    width: 3.4%;
    top: 52.7%;
    left: 72.6%;
    opacity: 0.5;
} */

.moonright{
    height: 9.5%;
    width: 7.5%;
    transform: rotate(225deg);
    position: absolute;
    top: 52.5%;
    left: 77.8%;
    opacity: 0.7;
}
.moonleft{
    height: 9.5%;
    width: 7.5%;
    transform: rotate(45deg);
    position: absolute;
    top: 52.5%;
    left: 72.2%;
    opacity: 0.7;
}

.nature {
    width: 100%;
    height: 1000px;
    background-color: magenta;
    top: 230px;
    position: relative;
}

.natureContainer {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    gap: 3px;
}

.picturecollapse {
    width: 100%;
    height: 4.5%;
    background-color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.2s ease-in-out;
    margin: 0 auto;
    overflow: hidden;
}

.naturediv {
    height: 800px;
    width: 100%;
}

.pictureactive {
    height: 80%;
    overflow: hidden;
}

.contact {
    height: 600px;
    width: 100%;
    background-color: yellow;
}













































@media(max-width: 1100px) {
    .section {
        display: flex;
        flex-direction: column;
        background-color: aqua;
        align-items: center;
        width: 480px;
        height: 700px;
        align-self: center;
    }

    .rightpic {
        right: 0;
        height: 50%;
        width: auto;
    }

    .leftpic {
        height: 50%;
        width: auto;
    }

    .carpics {
        height: 100%;
    }

    .wordleft {
        right: 0;
        height: 50%;
        width: 100%;
    }

    .wordright {
        right: 0;
        height: 50%;
        width: 100%;
    }
    .people {
        height: 50%;
    }
    .naturediv {
        height: 500px;
        width: 100%;
    }
    .pictureactive {
        height: 50%;
        overflow: hidden;
    }
    .screen{
        height: 44.4%;
    }
}